@font-face
{
font-family: 'BeauRivage';
src:url(Fonts/BeauRivage-Regular.ttf);
}

@font-face
{
font-family: 'Rubik';
src:url(Fonts/Rubik-VariableFont_wght.ttf);
}

body
{
margin: 0;
overflow-x:hidden;
width:100%;
}

header
{
width: 100%;
height: 700px;
padding: 20px;
text-align: center;
background-image:url("../obourIMAGES/BG_header.JPEG");
background-repeat: no-repeat;
background-attachment:scroll;
background-size: 100% 100%;
}

header a img
{
  width: 180px;
  height: 180px;
  margin: 15px;
}

.logoobour
{
position: absolute;
top: 81px;
left: 0;
cursor:pointer;
}

.BG
{
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size: 100% 100%;
}

.h1t
{
  direction: ltr;
  text-decoration: underline;
  text-align: center;
}

.h2t
{
 font-size: xx-large;
  direction: ltr;
  text-decoration: underline;
  margin-left: 15px;
}

.logoG
{
  position: absolute;
  left: 32.5%;
  top: 810px;
  cursor: pointer;
}

.FACEico
{
  position: absolute;
  left: 61%;
  top: 820px;
  cursor: pointer;
}

main a img
{
  width: 100px;
  height: 100px;
}

.imgFACEico
{
  width: 80px;
  height: 80px;
}

.imglogoG
{
  width: 100px;
  height: 100px;
}

.p22
{
  font-family: "Rubik", cursive;
  font-size: x-large;
  margin-left: 20px;
}

.section1
{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 20px 20px;
}

.card
{
  display:inline-block;
  flex-direction:   column;
  width: 290px;
  height: 450px;
  background-color:darkgrey;
  border-radius: 10px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 2),-4px -4px 12px rgba(0, 0, 0,8);
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.card:hover
{
  transform: translateY(-10px);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1),
    -4px -4px 12px rgba(0, 0, 0, 0.08);
}

.card-image-container
{
  width: 100%; height:80%;
  border-radius: 10px;
  margin-bottom: 12px;
  overflow: hidden;
  background-color: rgb(165, 165, 165);
  display:contents;
  align-items: center;
  justify-content: center;
}

.card-title
{
  margin: 5px;
  font-size: 17px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  color:darkblue;
  cursor: default;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.card-des
{
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  text-align: center;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  margin: 0;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color:darkblue;
  cursor: default;
}

.gallery-container {
  max-width: 800px;
  border:5px darkcyan solid;
  margin: 0 auto;
  overflow: hidden;
}

.gallery {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.images {
  display: flex;
  scroll-snap-type: x mandatory;
}

.images img {
  scroll-snap-align: start;
  width: 100%;
  height: auto;
}

.language-buttons {
  margin-top: 10px;
  text-align: center;
}

.language-buttons button {
  padding: 8px 16px;
  margin: 0 5px;
  font-size: 16px;
}
